a[href^="http://"], a[href^="https://"] {
  background: url("link-external.png") center right no-repeat;
  padding-right: 13px;
}

.candidate {
    min-height: 320px;
}

.candidate img {
  max-width: 150px;
  max-height: 180px;
}

.chart {
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.piechart {
  height: 500px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.chart-container {
  box-sizing: border-box;
  padding: 20px 15px 15px 15px;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.legendLabel {
  padding-left: 5px;
}

#footer {
  margin-top: 10px;
}