<!doctype html>
{% load staticfiles %}
<html>
  <head>
    <title>ČVUT - {% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="{% static 'custom.css' %}" rel="stylesheet" media="screen">
    {% block head_scripts %}{% endblock %}
  </head>
  <body>
    <div class="container page-container">
      {% block content %}{% endblock %}
      <footer id="footer" class="text-right">
        <p class="text-muted credit">&copy; 2017 Mikuláš Poul.
        Změny možné přes <a href="https://gitlab.com/mikulaspoul/volba-rektora-2017">GitLab</a>.</p>
      </footer>

    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    
    {% if analytics_code %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ analytics_code }}', 'auto');
        ga('send', 'pageview');

      </script>

    {% endif %}

    {% block scripts %}{% endblock %}
  </body>
</html>
