<div class="alert alert-danger text-center">
  <strong>Tato anketa je pouze informativní</strong> a nejedná se o oficiální anketu Akademického senátu ČVUT (dále jen AS ČVUT).
  Jedná se pouze o průzkum veřejného mínění, nikoliv o řádnou volbu rektora.
  <strong>Výsledky této ankety nejsou pro AS ČVUT nikterak závazné</strong> a zvolená osoba nominovaná na rektora se může zásadně lišit
  od vítěze v této anketě. Hlasování je umožněno všem členům akademické obce ČVUT a zaměstnancům ČVUT.
  Svým přihlášením potvrzujete pochopení výše uvedených informací.
</div>
