{% extends "base.html" %}
{% load staticfiles can_vote %}
{% block content %}

  <div class="page-header">
    <h1>{% block title %}Volba Rektora{% endblock %} Českého vysokého učení technického v Praze 2017</h1>

    {% include "description.html" %}
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">

    <div class="col-xs-12">
      {% if user.is_authenticated %}
        <div class="pull-left">
          {% if user|can_vote %}
            <a href="{% url "vote" %}" class="btn btn-lg btn-primary">Hlasovat</a>
          {% else %}
            Již jste hlasovali.
          {% endif %}
        </div>
        <div class="pull-right">
          <a class="btn btn-info" href="{% url "logout" %}">Odhlásit se</a>
        </div>

      {% else %}
        <div class="pull-left">
          Hlasovat můžete po přihlášení.
        </div>
        <div class="pull-right">
          <a href="{% url 'social:begin' 'fit' %}" class="btn btn-primary">Přihlásit se přes ČVUT účet</a>
        </div>
      {% endif %}
    </div>

    <div class="col-xs-12">
      <h2>Kandidáti</h2>
      <div class="row">
        {% for candidate in candidates %}
          <div class="candidate col-xs-12 col-sm-12 text-center {% if not forloop.last %} col-md-6 {% else %} col-md-offset-3 col-md-6 {% endif %} col-lg-4 {% if forloop.counter0 == 3 %}col-lg-offset-2{% elif forloop.counter0 == 4 %}col-lg-offset-0{% endif %}">
            <img src="{{ candidate.img }}">
            <h3>{{ candidate.name|safe }}</h3>
            {% for link in candidate.links %}
              <a href="{{ link.1 }}" target="_blank">{{ link.0 }}</a><br>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-xs-12">
      <h2>Výsledky</h2>

      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h3>Celkové</h3>

          <ol>
            {% for result in results %}
              <li>{{ result.short_name }} - {{ result.votes }} z {{ total_votes }} hlasů ({{ result.percentage|floatformat }} %)</li>
            {% endfor %}
          </ol>

        </div>
        <div class="col-sm-12 col-md-4">
          <h3>Studenti</h3>

          <ol>
            {% for result in results_students %}
              <li>{{ result.short_name }} - {{ result.votes_students }} z {{ students_count }} hlasů ({{ result.percentage_students|floatformat }} %)
              </li>
            {% endfor %}
          </ol>

        </div>
        <div class="col-sm-12 col-md-4">
          <h3>Zaměstnanci</h3>

          <ol>
            {% for result in results_employees %}
              <li>{{ result.short_name }} - {{ result.votes_employees }} z {{ employees_count }} hlasů ({{ result.percentage_employees|floatformat }} %)
              </li>
            {% endfor %}
          </ol>
        </div>
        <div class="col-xs-12">
          <div class="text-center">
            <p><small>Pokud hlas pochází od člověka, který je zároveň studentem i zaměstnancem, počítá se do obou kategorií - součet hlasů tedy nemusí být stejný jako celkový počet hlasů.</small></p>
          </div>
          <div class="chart-container">
            <div id="chart" class="chart"></div>
          </div>
        </div>
      </div>

      <h2>Účast</h2>
      <div class="text-center">
        <p><small>Lidé kteří patří do více jak jednoho subjektu v rámci ČVUT se do jednotlivých subjektů počítají rovným dílem, nicméně poděleným počtem subjektů, aby součet za jednoho člověka byl vždy 1.</small></p>
      </div>
      <div class="chart-container">
        <div id="piechart" class="piechart"></div>
      </div>
      <div class="text-center" style="margin-top: 10px;">
        <p><small>Do kterého subjektu hlasující patří je v databázi uloženo odděleně od samotných hlasů, nelze tedy zjistit, jak hlasovaly jednotlivé subjekty.</small></p>
      </div>

    </div>

  </div>

{% endblock %}

{% block scripts %}

  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.categories.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.js" type="text/javascript"></script>
  <script src="//www.benjaminbuffet.com/public/js/jquery.flot.orderBars.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot.tooltip/0.9.0/jquery.flot.tooltip.min.js" type="text/javascript"></script>
  <script type="text/javascript">

      var chart_options = {{ chart_options|safe }};
      var chart = {{ chart|safe }};
      var participation_chart = {{ participation_chart|safe }};
      var participation_options = {{ participation_options|safe }};

      chart_options["tooltip"]["content"] = function(label, xval, yval, flotItem) {
          return label + " | " + chart_options["xaxes"][0]["ticks"][xval - 1][1] + ": " + Math.round(yval * 10) / 10 + " %"
      };

      participation_options["tooltip"]["content"] = function(label, xval, yval, flotItem) {
          return label + " | " + yval + " (" + Math.round(flotItem.datapoint[0] * 10) / 10 +" %)";
      };

      var line_chart = function () {
          $.plot("#chart", chart, chart_options);
      };

      var pie_chart = function (el) {
          $.plot("#piechart", participation_chart, participation_options);
      };

      $(document).ready(function () {
          line_chart();
          pie_chart();
      });

      $(window).resize(function () {
          line_chart();
          pie_chart();
      });


  </script>
{% endblock %}