{% extends "base.html" %}
{% load staticfiles bootstrap %}
{% block content %}

<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1>{% block title %}Hlasování{% endblock %}</h1>

      {% include "description.html" %}
    </div>

    <div class="alert alert-info">
      Hlasování je anonymní, informace o hlasu a informace kdo již hlasoval jsou udržovány v separátních tabulkách s náhodnými identifikátory.
    </div>

    <div class="alert alert-warning">
      Můžete hlasovat jen jednou a hlas nejde změnit!
    </div>

    <form class="form form-horizontal" method="post" action="{% url "vote" %}" novalidate>
      {% csrf_token %}
      {{ form|bootstrap_horizontal:'col-md-7 col-lg-8 col-sm-6' }}

        <div class="pull-left">
          <a href="{% url "index" %}">Zpět na hlavní stránku</a>
        </div>
        <div class="pull-right">
          <button class="btn btn-primary">Hlasovat</button>
        </div>
    </form>


  </div>
</div>

{% endblock %}
